body{
    background-image: url('../img/homepage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    margin-left: 10%;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-family: "Awesome";
    font-size: 20px;
}

.ui.button{
    margin-left: 20%
}